.team-card {
    display: flex;
    flex-direction: column;
    background: #F2F3EE;
    border-radius: 20px;
    padding: 30px;
    width: 600px;
    height: 100%;
}

.team-card__content{
    display: flex;
    /* flex-wrap: wrap; */
    padding: 0;
    gap: 30px;
    height: 100%;
}

.team-card__post {
    margin-bottom: 5px;
    font-size: 14px;
}

.team-card__name {
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
}

.team-card__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.team-card__img {
    overflow: hidden;
    border-radius: 12px;
    background: #FFFFFF;
}

.team-card__txt {
    text-align: center;
    width: 290px;
}

.team-card__target-txt {
    line-height: 22px;
    margin: 0 0 20px 0;
    text-align: left;
}

.team-card__about-txt {
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 25px 0;
    text-align: right;
}

.team-card--text-center .team-card__target-txt,.team-card__about-txt{
    text-align: center;
}

.team-card__button-block {
    display: flex;
    flex-wrap: nowrap;
    margin-top: auto;
}

.team-card__button {
    display: inline-block;
    padding: 7px 39px;
    border-radius: 40px;
    font-size: 14px;
    line-height: 18px;

}

.team-card__button-link--color {
    background-color: #D6D2C4;
}